:root{
	--color-primary-xo: #bf0426;
	--color-primary-o: #de1236;
	--color-primary: #FA163F;
	--color-primary-l: #ff3b5f;
	--color-primary-xl: #ff5473;

	--color-secondary-xo: #1f9ea6;
	--color-secondary-o: #1cb3bd;
	--color-secondary: #12CAD6;
	--color-secondary-l: #39e2ed;
	--color-secondary-xl: #61e5ed;

	--color-bg: #e3fdff;

	--text: #16191a;
	--text-l: #404747;
	--text-xl: #6f7a7a;

	--font-title: 'Otomanopee One', sans-serif;
	--font-text: 'Nunito', sans-serif;
}

html, body{
	font-family: var(--font-text);
	color: var(--text);
	background-color: var(--color-bg);
}

.header{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 2em;
}
.header_img{
	height: 15em;
}
.header_title{
	font-family: var(--font-title);
	border-bottom: 2px solid var(--color-primary);
	padding: 0.2em 0.5em;
}
.header_contact{
	display: flex;
	flex-direction: row;
}
.contact_item{
	text-decoration: none;
	color: var(--color-secondary-o);
	border: 2px solid var(--color-secondary-o);
	margin: 0 0.5em;
	font-size: 1.5em;
	display: flex;
	width: 2.3em;
	height: 1.3em;
	align-items: center;
	align-content: center;
	transition: background-color 0.5s, color 0.5s;
}
.contact_item:hover{
	background-color: var(--color-secondary-o);
	color: var(--color-bg);
}
.contact_item i{
	display: flex;
	align-items: center;
	align-content: center;
	margin: 0 auto;
}

/* Searchbar */
.searchbar{
	display: grid;
	grid-template-columns: 87% 13%;
	margin: 1em;
}
.searchbar_input{
	padding: 0.5em;
	border: 2px solid var(--color-secondary);
	border-right: none;
	outline: none;
	font-family: ;
}
.searchbar_btn{
	padding: 0.5em;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0px;
	border: 2px solid var(--color-secondary);
	border-left: none;
	background-color: var(--color-primary);
	color: var(--color-bg);
}

.container{
	min-height: 607px;
	display: flex;
	justify-content: center;
}

/* cards */
.card{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 2em 1em;
	padding: 1em;
	border-radius: 0px;
	box-shadow: 0px 0px 10px -2px rgba(0,0,0, 0.4);
	-webkit-box-shadow: 0px 0px 10px -2px rgba(0,0,0, 0.4);
	-moz-box-shadow: 0px 0px 10px -2px rgba(0,0,0, 0.4);
	border: 2px solid var(--color-primary-xl);
	max-width: 393px;
}
.card_img{
	height: 15em;
}
.card_title{
	font-size: 1.9em;
	border-bottom: 2px solid var(--color-primary);
	padding: 0.1em 0.5em;
	font-family: var(--font-title);
}
.card_type{
	margin-top: -1em;
	font-size: 1em;
}
.card_stats{
	font-weight: bolder;
	font-size: 1.2em;
	margin-bottom: 10px;
}
.stats{
	display: flex;
	font-size: 1.1em;
	margin: 0.2em;
	justify-content: center;
	align-items: center;
}

.icon{
	color: var(--color-primary);
	font-size: 1.2em;
}

/* poperror */
.poperror{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 2em 2em;
	border: 2px solid var(--color-primary);
	padding: 2em;
	height: 10em;
}
.poperror p{
	text-align: center;
	font-size: 1.3em;
}
.poperror i{
	font-size: 4em;
	color: var(--color-primary);
}

/* Etiquetas */
.cp{
	color: var(--color-primary);
}

/* footer */

footer{
	display: flex;
	align-items: center;
	align-content: center;
	height: 60px;
	background-color: var(--color-primary-l);
	margin-top: 1em;
}
footer span{
	text-align: center;
	color: var(--color-bg);
	margin: auto;
}
